<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="logPattern" value="%d %-5level %logger{35} - %msg%n" />
	<property name="logEncoding" value="UTF-8" />
	<property name="logDirectory" value="logs" />
	

	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/po_api_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>${logEncoding}</charset>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="DEBUG" />
	<!-- <logger name="org.springframework" level="OFF" /> -->

	<root level="INFO">
		<appender-ref ref="fileAppender" />
	</root>
	<!-- <springProfile name="dev,ppe,it">
		<logger name="com.ssl.po" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="fileAppender" />
		</logger>
		>
	</springProfile> -->
	<!-- <springProfile name="production">
		<logger name="com.ssl.po" level="WARN"
			additivity="false">
			<appender-ref ref="FILE" />
		</logger>
	</springProfile> -->
</configuration>